  <p><%= link_to product.name, [product.category, product] %></p>
  <p><%= raw product.description %></p>
  <p>Price from: <%= product.price_from %></p>
  <p>Price to: <%= product.price_to %></p>
  <br />