<nav id="footer_nav">
  <ul>
    <li><%= link_to t(:categories), categories_path %></li>
    <li><%= link_to t(:companies), companies_path %></li>
    <li><%= link_to t(:advt), pages_advt_path %></li>
  </ul>
</nav>