<footer>
  <nav class="round">
    <ul>
      <li><%= link_to t(:home), root_path %></li>
      <li><%= link_to t(:companies), companies_path %></li>
      <li><%= link_to t(:advt), pages_advt_path %></li>
    </ul>
  </nav>
</footer>